<!DOCTYPE html>
<head>
  <style>
    a:link {
      color: #00FF00;
    }
    a:visited {
      color: #00FF00;
    }
    a:hover {
      color: #FCFC0C;
    }
    a:active {
      color: #00FF00;
    }
    body {
      background-color: #000000;
      color: #00FF00;
      font-family: "Monaco", "Lucida Console", "Courier New", monospace;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <td>===================================================</td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome My Blind Board :)</td>
      </tr>
      <tr>
        <td>===================================================</td>
      </tr>
      <tr>
        <th width=100>{{error}} error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{msg}}</td>
      </tr>
      <tr>
        <td>===================================================</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
